<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<!--Keys related to your Azure Search instance-->
		<add key="SearchServiceName" value="jfk-search-service-rcze273zou5ii" />
		<add key="SearchServiceApiKey" value="AEE4542E182654E5A3D1FE4F27C5570B" />
		<add key="SearchServiceQueryKey" value="8D9ECE6C7DA202642650CC0996993EEF" />

		<!--Keys related to your Cognitive Services account-->
		<add key="CognitiveServicesAccountKey" value="83f26e46c97b431ab4fc92f9145b5b29" />

		<!--Keys related to your storage account for the image-store custom skill-->
		<add key="BlobStorageAccountConnectionString" value="DefaultEndpointsProtocol=https;AccountName=jfkstoragercze273zou5ii;AccountKey=cPEuEfYrTPfbrv/xrPmbbrazxUNTxGRPzoGw3hsqC8Y6SL5+b8WMurmirYm34HRwRHYj2okOV3LMTNAm5zS6wA==;" />

		<!--Keys related to your Azure Web App instance-->
		<add key="AzureWebAppSiteName" value="jfk-site-rcze273zou5ii" />
		<add key="AzureWebAppUsername" value="$jfk-site-rcze273zou5ii" />
		<add key="AzureWebAppPassword" value="cqwJ3QuefQLcekqH4uGyolmYh0FJEYRuosePQnH1tRphhWRvBnaSKvJcHj6w" />

		<!--Keys related to your Azure Function instance-->
		<add key="AzureFunctionSiteName" value="jfk-function-app-rcze273zou5ii" />
		<add key="AzureFunctionUsername" value="$jfk-function-app-rcze273zou5ii" />
		<add key="AzureFunctionPassword" value="jwF3DS9QAJz5XzfReSXW2aziicQKZKrRwBu7edf36potuP0fovaFJy3fM0sT" />

		<!--Location of sample JFK file documents that we are providing to you.-->
		<add key="JFKFilesBlobStorageAccountConnectionString" value="DefaultEndpointsProtocol=https;AccountName=versorazurestorage;AccountKey=KTAFdbU23aEKE/1+/PBr+Ifmy3KGmOJNW+RWsbgySW9yckgBgJEzSwjUoZsnIjQCbuXK/oAUFZ9DlMn4+nBunQ==;EndpointSuffix=core.windows.net" />
		<add key="JFKFilesBlobContainerName" value="the-dismissal" />

		<!--Configurable names, feel free to change these if you like-->
		<add key="DataSourceName" value="thedismissal_ds" />
		<add key="IndexName" value="thedismissal_index" />
		<add key="SkillsetName" value="thedismissal_skillset" />
		<add key="IndexerName" value="thedismissal_kindexer" />
		<add key="SynonymMapName" value="cryptonyms" />
		<add key="BlobContainerNameForImageStore" value="the-dismissal" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.5.0" newVersion="3.0.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.6.3.0" newVersion="7.6.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
