<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<!--Keys related to your Azure Search instance-->
		<add key="SearchServiceName" value="whitlam-search-service-rcze273zou5ii" />
		<add key="SearchServiceApiKey" value="04357DBC18667CF884C468510D39DE7F" />
		<add key="SearchServiceQueryKey" value="4A21CCCF4CF6786CA093EE93F5F2850D" />

		<!--Keys related to your Cognitive Services account-->
		<add key="CognitiveServicesAccountKey" value="5b66bd5e4a6a459b815e177024547555" />

		<!--Keys related to your storage account for the image-store custom skill-->
		<add key="BlobStorageAccountConnectionString" value="DefaultEndpointsProtocol=https;AccountName=whitlamstorrcze273zou5ii;AccountKey=bKryGFB4Q2iwBvUaZRcClJZ5u7CV5iJfrCpn6HmLfke2cOJPRsP+jbDb0fcOBa6BjUWNn4rdUQ0EDLNBxROjng==;" />

		<!--Keys related to your Azure Web App instance-->
		<add key="AzureWebAppSiteName" value="whitlam-site-rcze273zou5ii" />
		<add key="AzureWebAppUsername" value="$whitlam-site-rcze273zou5ii" />
		<add key="AzureWebAppPassword" value="kFKhMeYjjYxoztbrAyvnWXhBNcuqC5hNsK8N6Eri7tLoRHJMQYc5WCvnSnpK" />

		<!--Keys related to your Azure Function instance-->
		<add key="AzureFunctionSiteName" value="whitlam-function-app-rcze273zou5ii" />
		<add key="AzureFunctionUsername" value="$whitlam-function-app-rcze273zou5ii" />
		<add key="AzureFunctionPassword" value="c3x9Ff43wo9nne3Px9hXk0wy76sj75jth1XlbjeuWZ8LE9AnCzroYoQodgaZ" />

		<!--Location of sample JFK file documents that we are providing to you.-->
		<add key="JFKFilesBlobStorageAccountConnectionString" value="DefaultEndpointsProtocol=https;AccountName=versorazurestorage;AccountKey=KTAFdbU23aEKE/1+/PBr+Ifmy3KGmOJNW+RWsbgySW9yckgBgJEzSwjUoZsnIjQCbuXK/oAUFZ9DlMn4+nBunQ==;EndpointSuffix=core.windows.net" />
		<add key="JFKFilesBlobContainerName" value="the-dismissal" />

		<!--Configurable names, feel free to change these if you like-->
		<add key="DataSourceName" value="thedismissalds" />
		<add key="IndexName" value="thedismissalindex" />
		<add key="SkillsetName" value="thedismissalskillset" />
		<add key="IndexerName" value="thedismissalindexer" />
		<add key="SynonymMapName" value="cryptonyms" />
		<add key="BlobContainerNameForImageStore" value="the-dismissal" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.5.0" newVersion="3.0.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.6.3.0" newVersion="7.6.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
